
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.display-flex{
	display: flex;
	justify-content: center;
}
h1 {
	margin-top: 0;
}
p {
	color: rgb(232 224 122);
}
.project-dice {
	/* background-image: url("./background.png"); */
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	margin: 0 auto;
	text-align: center;
	height: 100vh;
	width: 100%
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
      }
    50% {
      background-position: 100% 50%;
      }
    100% {
      background-position: 0% 50%;
      }
}

.dice__header {
	width: 100%;
	margin: 0;
	background-position: center;
	background-repeat: no-repeat;
}

.dice__title {
	font-size: 5rem;
	font-family: 'Work Sans', sans-serif;
	margin-bottom: 0;
}
.dice__side,
.dice__number {
	font-size: 2.5rem;
	font-family: 'Work Sans', sans-serif;
	width: 500px;
    display: flex;
}
.dice__input {
	border: 5px solid black;
    width: 100px;
    height: 50px;
    text-align: center;
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
}
.dice__button {
	height: 50px;
	width: 20%;
	font-size: 2rem;
	font-family: 'Work Sans', sans-serif;
	margin-top: 25px;
    cursor: pointer;
}
.dice__roll {
	font-size: 3.5rem;
	font-family: 'Work Sans', sans-serif;
	display: inline-block;
	color: #A63537;
	margin: 10px;
	margin-top: 20px;
}
.dicesum {
	color: #D2A543;
	font-size: 7rem;
	font-family: 'Work Sans', sans-serif;
	margin: 10px;
}

.menu {
	color:rgb(232 224 122);
}
.dice__title {
	color: rgb(232 224 122);
	outline-color: black;
}


.theme-custom-1 {
    background-color: rgb(0 0 0 / 0%);
    border: 1px solid rgb(0 0 0 / 0%);
    box-shadow: rgb(142 142 142 / 19%) 3px 7px 8px 6px;
    border-radius: 25px;
    color: rgb(232 224 122);
    backdrop-filter: blur(60px);
  }