
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
:root{
	--fs-title: 4.5rem;
	--fs-content: 2rem;
	--fs-input: 1.6rem;
	--fs-dice: 3rem;
	--p-dice: 3px;
	--h-group-dice: 200px;
	--h-title-dice: 130px;
	--h-input-dice: 50px;
	--w-group-dice: 300px;
}
.display-flex{
	display: flex;
	justify-content: center;
}

p {
	color: rgb(232 224 122);
}
body  {
	/* background-image: url("./background.png"); */
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 1000% 1000%;
	animation: gradient 10s ease infinite;
	text-align: center;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
      }
    50% {
      background-position: 100% 50%;
      }
    100% {
      background-position: 0% 50%;
      }
}

.dice__header {
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	height: var(--h-title-dice);
}

.dice__title {
	font-size: var(--fs-title);
}
.dice__side,
.dice__number {
	font-size: var(--fs-content);
	width: var(--w-group-dice);
    display: flex;
}
.dice__input {
	border: 5px solid black;
    width: 100px;
    height: var(--h-input-dice);
    text-align: center;
    color: black;
    font-size: var(--fs-input);
}
.dice__button {
	height: var(--h-input-dice);
	width: 150px;
	font-size: var(--fs-content);
    cursor: pointer;
	border-radius: 25px;
}
.dice__roll {
	font-size: var(--fs-dice);
	display: inline-block;
	width: 70px;
    height: 70px;
    margin: 10px 10px 10px;
    padding: var(--p-dice);
	border: 5px solid #000;
	background-color: #fff;
	color: #000;
}
.form-group-dice{
	height: var(--h-group-dice);
}
.dicesum {
	color: #D2A543;
	font-size: var(--fs-title);
}

.menu {
	color:rgb(232 224 122);
}
.dice__title {
	color: rgb(232 224 122);
	outline-color: black;
}


.theme-custom-1 {
    background-color: rgb(0 0 0 / 0%);
    border: 1px solid rgb(0 0 0 / 0%);
    box-shadow: rgb(142 142 142 / 19%) 3px 7px 8px 6px;
    border-radius: 25px;
    color: rgb(232 224 122);
    backdrop-filter: blur(60px);
  }

  @media only screen and (max-width: 900px){
	  :root{
		--fs-title: 2.5rem;
		--fs-content: 1.4rem;
		--fs-input: 1.3rem;
		--fs-dice: 2rem;
		--h-title-dice: 80px;
		--h-group-dice: 140px;
		--h-input-dice: 35px;
		--p-dice: 10px;
	  }
  }
  @media only screen and (max-width: 550px){
	:root{
	  --fs-title: 2.2rem;
	  --fs-content: 1.5rem;
	  --fs-input: 1.4rem;
	  --fs-dice: 2.2rem;
	  --p-dice: 10px;
	  --w-group-dice: 240px;
	}
}